<div class="row">
    <div class="col-md-6 text-center">
        <h3>Factory Count</h3>
        <p style="font-size: 80pt">{{count}}</p>
        <button class="btn btn-default" ng-click="increment()">Increment</button>
        <button class="btn btn-primary" ng-click="getCount()">Get Count</button>
    </div>
    <div class="col-md-6 text-center">
        <h3>Controller Count</h3>
        <p style="font-size: 80pt">{{ctrlCount}}</p>
        <button class="btn btn-default" ng-click="ctrlIncrement()">Increment</button>
    </div>
</div>